block variables

doctype html

html(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        base(href="/")

        title=meta.data.title
        meta(name="description" content=meta.data.description)
        link(rel="canonical" href=meta.data.canonical)
        meta(name="keywords" content="ramiro, zayas, piano, berlin, germany, pianist, composer, jazz, grupo, anonimus, big, band, tundra, nant, rio, interior, cumulus, mingus")

        link(rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
        link(rel="manifest" href="icons/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")

        meta(property="og:type" content="website")
        meta(property="og:title" content=meta.data.title)
        meta(property="og:description" content=meta.data.description)
        meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')
        meta(property="og:url" content=meta.data.canonical)

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=meta.data.title)
        meta(name="twitter:description" content=meta.data.description)
        meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
        meta(name="twitter:site" content=`@${meta.data.twitter}` || "@ramirozayas")

        link(href="main.css" rel="stylesheet")

        script(type="application/ld+json")!=`{"@context":"http://schema.org","@type":"Event","name":"${concertsList[0][0].data.title}","startDate":"${concertsList[0][0].data.year}-${concertsList[0][0].data.month}-${concertsList[0][0].data.day}T${concertsList[0][0].data.hours}:${concertsList[0][0].data.minutes}","location":{"@type":"Place","name":"${concertsList[0][0].data.location}"},"description":"${concertsList[0][0].data.description}","url":"https://ramirozayas.com/concerts","performer":{"@type":"Person","name":"Ramiro Zayas"},"offers":{"@type":"Offer","price":"${concertsList[0][0].data.price}"},"sameAs":["https://twitter.com/${meta.data.twitter}","${meta.data.facebook}","${meta.data.youtube}","${meta.data.instagram}","${meta.data.linkedin}"]}`       
        script(type="text/javascript" defer src="https://www.google-analytics.com/analytics.js")
        script(defer src="//www.google-analytics.com/analytics.js")
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-90LW69N0XS")
        script!=`window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-90LW69N0XS');`


    body
        include ./partials/cursor
        include ./partials/preloader
        include ./partials/options
        include ./partials/audio
        include ./partials/social
        include ./partials/scrollBar
        include ./partials/header

        main.content#content(data-template=template)
            block content

        include ./partials/footer
        
        script(src="main.js") 