extends ../base.pug 

block variables 
    - var template = "concerts"

block content
    .concerts 
        section.concerts__wrapper
            h1.concerts__title(data-animation="fade")=concerts.data.title 
            .concerts__shows
                each concertsData, index in concertsList
                    if index === 0
                        div(class=`concerts__shows__littleList`)
                            each concert in concertsData
                                article.concerts__shows__cardWrapper(data-animation="fade")
                                    p.concerts__shows__date=`${concert.data.day}.${concert.data.month}.${concert.data.year}`
                                    h2.concerts__shows__title=concert.data.title 
                                    .concerts__shows__content
                                        p.concerts__shows__info=`Time: ${concert.data.hours}:${concert.data.minutes}`
                                        p.concerts__shows__info=`Location: ${concert.data.location} `
                                            a(href=`https://google.com.ar/maps/search/${concert.data.location.replace(" ","+")}` target="_blank")="(map)"
                                        p.concerts__shows__info=`Price: €${concert.data.price}`
                                        p.concerts__shows__info=`Status: ${concert.data.status}`
                                        p.concerts__shows__info=`Description: ${concert.data.description}`
                            .concerts__shows__littleList__observer(data-observer=index+1)
                        