extends ../base.pug 

block variables 
    - var template = "music"

block content
    .music 
        section.music__wrapper        
            h1.music__title=music.data.title 
            .music__albums
                each album in music.data.album 
                    article.music__albums__card 
                        a.music__albums__link(href=album.link.url target=album.link.target)
                            figure.music__albums__image
                                img.music__albums__image__content(data-src=album.image.url alt=album.image.alt)

            .music__videos
                .music__videos__wrapper
                    each video, index in music.data.videos
                        article(class=`music__videos__card ${index === 0 ? "music__videos__card--current" : index === 1 ? "music__videos__card--next" : index === music.data.videos.length - 1 ? "music__videos__card--previous" : ""}`)
                            a.music__videos__link(href=video.link.url target=video.link.target)
                                figure.music__videos__image
                                    img.music__videos__image__content(data-src=video.image.url alt=video.image.alt)
                                    svg.music__videos__image__playIcon(viewBox="0 0 68 67" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M27.2 48.575L47.6 33.5L27.2 18.425V48.575ZM34 0C15.232 0 0 15.008 0 33.5C0 51.992 15.232 67 34 67C52.768 67 68 51.992 68 33.5C68 15.008 52.768 0 34 0Z" fill="#EFEFEF")

                .music__videos__controls 
                    button.music__videos__controls__button.music__videos__controls__button--left
                        svg.music__videos__controls__arrow(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 23")
                            path(fill="currentColor" d="M0.4,10.4c-0.6,0.6-0.6,1.6,0,2.2l9.8,9.9c0.6,0.6,1.6,0.6,2.2,0c0.6-0.6,0.6-1.6,0-2.2l-8.8-8.8l8.5-8.8c0.6-0.6,0.6-1.6,0-2.2c-0.6-0.6-1.6-0.6-2.2,0L0.4,10.4z M74,9.9H1.5l0,3.1H74L74,9.9z")
                    button.music__videos__controls__button.music__videos__controls__button--right
                        svg.music__videos__controls__arrow(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 23")
                            path(fill="currentColor" d="M64,0.5c-0.6-0.6-1.6-0.6-2.2,0c-0.6,0.6-0.6,1.6,0,2.2l8.5,8.8l-8.8,8.8c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0l9.8-9.9c0.6-0.6,0.6-1.6,0-2.2L64,0.5z M0,13.1h72.5l0-3.1H0L0,13.1z")

                    p.music__videos__controls__counter
                        span.music__videos__controls__position=1
                        span.music__videos__controls__slash="/"
                        span.music__videos__controls__quantity=music.data.videos.length > 9 ? music.data.videos.length : `0${music.data.videos.length}`